.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;

  .greeting-text {
    margin: 30px;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 5rem;
      margin-bottom: 10px;
    }
    .colored {
      color: #ff8008;
    }
  }
}
